@import "~normalize.css";
@import "~@fontsource/montserrat";
@import "~@mdi/font/scss/materialdesignicons.scss";

$primary: #013a63;
$link: #5e548e;
$family-sans-serif: "Montserrat";

@import "~bulma";
@import "~bulma-checkradio";
@import "~bulma-switch";
@import "~@creativebulma/bulma-divider";

#msg {
  width: 20em;
  position: absolute;
  top: 5rem;
  right: 2rem;
  z-index: 100;
}