{% extends "default.html.twig" %}

{% block contents %}
<div class="box">
  <h2 class="title is-3">
    <span class="icon-text">
      <span class="icon">
        <i class="mdi mdi-account-plus"></i>
      </span>
      <span>Novo Paciente</span>
    </span>
  </h2>

  {{ form_errors(form) }}

  {{ form(form) }}

</div>
{% endblock %}
